.container{
    flex-grow: 1;
}

.background, .title-container{
    position: relative;
}

.background{
    padding: 0 20px;
    background: #37718e;
    min-height: 100vh;
}

.title-container{
    padding-top: 33px;
    max-width: 1200px;
    min-width: 1200px;
    margin: 0 auto;
}


.title-description{
    color: #fff;
    margin-bottom: 37px;
    margin-top: 37px;
    position: relative;
}

.Title{
    margin: 0;
    font-size: 32px;
    font-weight: 600;
    text-transform: capitalize;
}

.para{    margin-top: 2px;
    font-size: 16px;}

.faq-container{
    background: #fff;
    contain: layout;
    box-shadow: 0 2px 15px 0 rgb(0 0 0 / 15%);

    margin: 0 auto;
    position: relative;
}