.panel-right{
    flex: 1;
    background: #fff;
    padding: 37px 0 0 50px;
    position: relative;
    min-height: 80vh;
}

Accordion.Header{
    font-size: 18px;
}

Accordion.Body{

    font-size: 18px;
}

.pills{
    display: flex;
    min-width: 260px;
    background: #edf1f7;
}