._2tnu- {
    background: #2b1e16;
    padding: 0 20px;
}
._2RZDN, ._2Zn3W {
    position: relative;
}
._2RZDN {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-bottom: 80px;
    max-width: 1200px;
    min-width: 1200px;
    margin: 0 auto;
}


element.style {
}
._2RZDN, ._2Zn3W {
    position: relative;
}
._2RZDN {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-bottom: 80px;
    max-width: 1200px;
    min-width: 1200px;
    margin: 0 auto;
}
._2Zn3W {
    color: #fff;
    text-align: center;
}