._2mB3x {
    background-color: #005062;
}

.D-teR {
    font-size: 50px;
    font-weight: 600;
}

._1hBzA {
    font-size: 22px;
    line-height: 1.2;
    opacity: .8;
}

._NpL9{
    max-width: 1200px;
    margin: 0 auto;
    color: #fff;
    height: 300px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.OOZby {
    max-width: 1200px;
    margin: 0 auto;
    display: -ms-flexbox;
    display: flex;
}
._1E9Bh._1oHqQ {
    font-weight: 500;
    color: #282c3f;
}
._1E9Bh:first-child {
    margin-left: 0;
}
._1E9Bh {
    font-size: 20px;
    padding: 24px 0 20px;
    color: #93959f;
    margin-left: 24px;
    cursor: pointer;
}
._1yFBc {
    border-bottom: 1px solid #d4d5d9;
    position: relative;
}